.card-body img {
    max-width: 100%;  /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto;     /* Mantiene la proporción de la imagen */
    object-fit: contain; /* Asegura que la imagen se ajuste completamente dentro del espacio sin cortarse */
}

body {
    background: #f5f6fa;
font-family: 'Oswald', sans-serif;

    overflow: hidden;
}

.index {
    width: 100vw;
    height: 100vh;
}

.navbar {
  background-color: #a3c7d7;
  background: linear-gradient(to bottom, rgba(163, 199, 215, 1), rgba(163, 199, 215, 0));
    z-index: 10;
}

.nav-link {
    color: white !important;
    display: flex;
    font-size: 1.5rem;
    justify-content: end;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}



.masthead {
    color: white;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: url('/img/fondo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000,
    0 0 5px #000; 

}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
    }
    .masthead h1 {
      font-size: 5.5rem;
    }
  }

  .container {
    max-height: 80vh; /* Ajusta el valor según tus necesidades */
    overflow-y: auto;
}

/*aaaa*/

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

  .progressBarIncomplete {
    max-height: 80vh;
    overflow-y: auto;
    
  }

.progressBarComplete {
  max-height: 80vh; /* Ajusta el valor según tus necesidades */
  overflow-y: auto;
  }

.wrapper {
display: table-cell;
height: 20px;
vertical-align: middle;
}

.nav {
margin-top: 40px;
}

.pull-right {
float: right;
}

a, a:active {
color: #333;
text-decoration: none;
}

a:hover {
color: #999;
}



.arrow-steps .step {
font-size: 14px;
text-align: center;
color: #666;
cursor: default;
margin: 0 3px;
padding: 10px 10px 10px 30px;
min-width: 180px;
float: left;
position: relative;
background-color: #d9e3f7;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; 
transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
content: " ";
position: absolute;
top: 0;
right: -17px;
width: 0;
height: 0;
border-top: 19px solid transparent;
border-bottom: 17px solid transparent;
border-left: 17px solid #d9e3f7;	
z-index: 2;
transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
right: auto;
left: 0;
border-left: 17px solid #fff;	
z-index: 0;
}

.arrow-steps .step:first-child:before {
border: none;
}

.arrow-steps .step:first-child {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
position: relative;
}

.arrow-steps .step span:before {
opacity: 0;
content: "✔";
position: absolute;
top: -2px;
left: -20px;
}

.arrow-steps .step.done span:before {
opacity: 1;
-webkit-transition: opacity 0.3s ease 0.5s;
-moz-transition: opacity 0.3s ease 0.5s;
-ms-transition: opacity 0.3s ease 0.5s;
transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
color: #ffffff;
background-color: #3dd445;
}

.arrow-steps .step.current:after {
border-left: 17px solid #3dd445;	
}

.navbar-brand {
  font-size: 1.5rem; 
  font-weight: bold; 
  color: #FFFFFF;
  text-shadow: 
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
  