<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                        <div class="form-group"> 
                            <input type="text" class="form-control" name="codigo" placeholder="codigo del producto" autofocus>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" name="imagen" class="form-control" placeholder="URL imagen">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" name="nombre" class="form-control" placeholder="nombre del producto">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" name="descripcion" class="form-control" placeholder="Descripcion">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="number" name="precio" class="form-control" placeholder="Precio">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" name="categoria" class="form-control" placeholder="Categoria">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" name="disponible" class="form-control" placeholder="Disponible">
                        </div>
                        <br>
                        <div class="form-group d-grid gap-2">
                            <button class="btn btn-success btn-block">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>