<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Estadísticas</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>Estadísticas de Ventas</h1>
        <form id="dateForm" method="GET" action="/links/estadisticas">
            <label for="viewType">Tipo de estadística:</label>
            <select id="viewType" name="viewType">
                <option value="productos">Mostrar productos vendidos</option>
                <option value="ventas_dias">Mostrar ventas por días</option>
            </select>
            <label for="startDate">Fecha de inicio:</label>
            <input type="date" id="startDate" name="startDate">
            <label for="endDate">Fecha final:</label>
            <input type="date" id="endDate" name="endDate">
            <button type="submit">Filtrar</button>
        </form>
        <canvas id="barChart" width="400" height="200"></canvas>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const ctx = document.getElementById('barChart').getContext('2d');
            const data = JSON.parse(`{{{data}}}`);
            console.log(data); // Para verificar los datos en la consola del navegador

            const viewType = '{{viewType}}';
            let labels, cantidades;

            if (viewType === 'productos') {
                labels = data.map(item => item.nombre);
                cantidades = data.map(item => item.cantidad);
            } else if (viewType === 'ventas_dias') {
                labels = data.map(item => new Date(item.fecha_compra).toLocaleDateString('es-ES', {
                    day: '2-digit',
                    month: '2-digit',
                    year: 'numeric'
                }));
                cantidades = data.map(item => item.pedidos_dia);
            }

            const warmColors = [
                'rgba(255, 99, 132, 0.2)', 'rgba(255, 159, 64, 0.2)', 'rgba(255, 205, 86, 0.2)',
                'rgba(255, 140, 0, 0.2)', 'rgba(255, 99, 71, 0.2)', 'rgba(255, 69, 0, 0.2)',
                'rgba(255, 165, 0, 0.2)', 'rgba(255, 182, 193, 0.2)', 'rgba(255, 228, 181, 0.2)',
                'rgba(255, 160, 122, 0.2)'
            ];
            const warmBorderColors = [
                'rgba(255, 99, 132, 1)', 'rgba(255, 159, 64, 1)', 'rgba(255, 205, 86, 1)',
                'rgba(255, 140, 0, 1)', 'rgba(255, 99, 71, 1)', 'rgba(255, 69, 0, 1)',
                'rgba(255, 165, 0, 1)', 'rgba(255, 182, 193, 1)', 'rgba(255, 228, 181, 1)',
                'rgba(255, 160, 122, 1)'
            ];

            const backgroundColors = cantidades.map((_, index) => warmColors[index % warmColors.length]);
            const borderColors = cantidades.map((_, index) => warmBorderColors[index % warmBorderColors.length]);

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: viewType === 'productos' ? 'Cantidad Comprada' : 'Pedidos por Día',
                        data: cantidades,
                        backgroundColor: backgroundColors,
                        borderColor: borderColors,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    return context.dataset.label + ': ' + context.parsed.y;
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>
    <div style="position: fixed; bottom: 20px; left: 20px;">
        <a href="/links/" class="btn btn-primary">Volver</a>
    </div>
</body>
</html>
