<body>
    <p>Logging out...</p>
    <script>
        // Recargar la página después de 1 segundo
        setTimeout(() => {
            window.location.href = '/signin';
        }, 1000);
    </script>
</body>
</html>